.index{
  height: 100%;
  width: 100%;
  overflow: auto;
  .assess{
    background-color: #fff;
    height: calc(40%);
    padding: 70rpx 30rpx 0;
    .order{
      text-align: center;
      padding-bottom: 40rpx;
      .order-number{
        color: #212121;
        font-size: 50rpx;
      }
      .order-sum{
        color: #757575;
        font-size: 40rpx;
      }
    }
    .progress{
      transition:width .3s;
      border-bottom: 1px solid #eeeeee;
      .percent{
        transition:width 1s;
        background: #e7e7e7;
        height: 20rpx;
      }
    }
    .subject{
      // transform: translateX(15%);
      margin-top: 15rpx;
      text-indent: 2em;
      color: #000;
    }
  }
  .questions{
    height: calc(60%);
    width: 100%;
    padding: 20rpx 0;
    .picker{
      height: 100%;
      width: 100%;
      padding: 0;
      background-color: #f9f5f4;
      display: flex;
      flex-direction: column;
      justify-content: space-around;
      align-items: center;
      .picker-item{
        width: 90%;
        background: #fff;
        padding: 15rpx 0 15rpx 20rpx;
        border-left: 20px solid #e9e9e9;
      }
      .picker-item-hover{
        background-color: #1cb757;
        border-color: #1cb757;
        color: #fff;
      }
    }
  }
  .top{
    position: relative;
    height: 360rpx;
    image{
      width: 100%;
      height: 100%;
    }
    .my-report{
      position: absolute;
      top: 30rpx;
      right: -18rpx;
      background-color: #fff;
      color: #757575;
      border-radius: 40rpx 0 0 40rpx;
      padding: 8rpx 24rpx;
      z-index: 1;
      .countTip{
        display: inline-block;
        width: 40px;
        border-radius: 20px;
        background: #37B365;
        text-align: center;
        color: white;
      }
    }
    .top-module{
      position: absolute;
      left: 0rpx;
      top: 0rpx;
      width: 70%;
      padding: 40rpx 0 0 40rpx;
      .top-module-title{
        color: #fff;
        font-size: 40rpx;
        font-weight: bold;
        margin-bottom: 15rpx;
      }
      .top-module-content{
        color: #fffffd;
        font-size: 30rpx;
      }
    }
    .top-bottom{
      position: absolute;
      bottom: 0rpx;
      width: 100%;
      padding: 15rpx 0;
      display: flex;
      color: #fff;
      font-size: 34rpx;
      justify-content: space-around;
      background: rgba(255, 255, 255, 0.3);
    }
  }
  .middle{
    height: calc(100% - 490rpx);
    padding: 40rpx 30rpx 0;
    .middle-title{
      color: #212121;
      font-size: 40rpx;
      font-weight: bold;
      margin-bottom: 30rpx;
    }
    .middle-desc{
      color: #4a4a4a;
      height: calc(100% - 100rpx);
      overflow: auto;
    }
  }
  .bottom{
    position: absolute;
    width: 100%;
    bottom: 0rpx;
    padding: 20rpx 20rpx;
    button{
      border-radius: 60rpx;

    }
  }
}
