@import "~taro-ui/dist/style/components/icon.scss";
.index {
  height: 100%;
  width: 100%;
  overflow: auto;
  .query{
    display: flex;
    padding: 10px 0;
    border-top: 1px solid #f0eff5;
    border-bottom: 1px solid #f0eff5;
    justify-content: space-between;
    .attr{
      flex: 1;
      color: #080808;
      text-align: center;
      .at-icon{
        color:#878787;
      }
    }
  }
  .items{
    height: calc(100% - 32rpx);
    overflow: auto;
    .item{
      display: flex;
      padding: 20px;
      border-bottom: 1px solid #f0eff5;
      .item-image{
        height: 200rpx;
        width: 200rpx;
      }
      .item-content{
        width: calc(100% - 200rpx);
        padding-left: 16rpx;
        .title{
          color: #333333;
          width: 90%;
          overflow: hidden;
          text-overflow:ellipsis;
          white-space: nowrap;
        }
        .content{
          color: #c6c6c6;
          overflow: hidden;
          height: 116px;
          font-size: 28px;
          position: relative;
          &:after{
            content: "...";
            position: absolute;
            bottom: 9px;
            right: 19px;
            padding-left: 8px;
            // background: -webkit-linear-gradient(left, transparent, #fff 60%);
            // background: -o-linear-gradient(right, transparent, #fff 60%);
            // background: -moz-linear-gradient(right, transparent, #fff 60%);
            // background: linear-gradient(to right, transparent, #fff 60%);
            background: #fff;
          }
        }
        .class-number{
          display: flex;
          justify-content: space-between;
          align-items: center;
          color: #c6c6c6;
        }
      }
    }
  }
}
