.zxs{
  border-top: 20px solid #EFEEF3;
  .itemPerson{
    padding: 30px 15px;
    border-bottom: 1px solid #EFEEF3;
    .counselorImg{
      width: 130px;
      height: 130px;
    }
    .counselorImg1{
      width: 130px;
      height: 130px;
      position: relative;
      top:30px
    }
    .name{
      font-size: 36px;
      font-weight: bold;
      margin-right: 30px;
    }
    .year{
      font-size: 28px;
      color: #A3A3A3;
    }
    .job{
      font-size: 28px;
      text-align: center;
      border: 1px solid #ccc;
      border-radius: 30px;
      margin-bottom:8px;

    }
    .at-rate{
      display: inline-block;
      position: relative;
      top:-13px;
      margin-left:40px;
    }
    .at-rate__icon .at-icon{
      font-size: 32px;
    }
    .detail{
      font-size: 28px;
      white-space:normal;
      word-break:break-all;
      word-wrap:break-word;
      overflow : hidden;
      text-overflow: ellipsis;
      display: -webkit-box;
      -webkit-line-clamp: 2;
      -webkit-box-orient: vertical;
      .moreDetail{
        color: #37B365;
      }
    }
    .btn{
      background: #37B365;
      position: relative;
      top:30px;
    }
    .at-button--small{
      width: 50px!important;
    }
  }
}
