.index{
  padding: 40px 40px 0;
  height: 100%;
  width: 100%;
  overflow: auto;
  .title{
    color: #333;
    font-size: 50px;
    font-weight: bold;
    margin-left: 20px;
    margin-bottom: 30px;
  }
  .params{
    display: flex;
    align-items: center;
    justify-content: space-between;
    background: #f5f5f5;
    border-radius: 50px;
    margin-bottom: 30px;
    padding: 25px;
    font-size: 30px;
    at-icon{
      margin-right: 2px;
    }
    .phone-number{
      width: calc(100% - 50px);
    }
    .verify-code{
      width: calc(100% - 220px);
    }
  }
  button{
    border-radius: 50px;
    margin-top: 40px;
  }
}
