.wccx{
  .selectN{
    border-bottom: 10px solid #E4E4E4;
    padding: 20px;
  }
  .picker{
    display: inline-block;
    vertical-align: middle;
  }
  .selectTop{
    text-align: center;
  }
  .line{
    border-right: 1px solid #E4E4E4;
  }
  .scoreIpt{
    display: inline-block;
    width: 100px;
    height: 50px;
    border-bottom: 1px solid #E4E4E4;
    vertical-align: middle;
    text-align: center;
  }
  .font1{
    vertical-align: middle;
    color: #7B7B7B;
    display: inline-block;
    margin-right: 10px;
  }


  .tableTitle{
    padding: 30px 20px 20px 20px;
    .at-col{
      color: #9B9B9B;
      text-align: center;
    }
  }
  .scoreN{
    height: calc(100vh - 206px);
    .scoreTr{
      padding: 10px;
      &:nth-child(odd){
        background: #E4E4E4;
      }
      .at-col{
        text-align: center;
      }
    }
  }
}
