@import "~taro-ui/dist/style/components/curtain.scss";
.index {
  flex-direction: column;
  width: 100%;
  height: 100%;
  background-color: #f9f5f4;
  padding: 16rpx 20rpx;
  overflow: auto;
  .my-report{
    position: absolute;
    top: 50rpx;
    right: -18rpx;
    background-color: #fff;
    color: #757575;
    border-radius: 40rpx 0 0 40rpx;
    padding: 8rpx 24rpx;
    .countTip{
      display: inline-block;
      width: 40px;
      border-radius: 20px;
      background: #37B365;
      text-align: center;
      color: white;
    }
  }
  .cp-top{
    background: url(../../packageCP/images/envaluation_bg.png) no-repeat center center transparent;
    background-size: 100% 100%;
    width: 100%;
    height: 320px;
    color: #fff;
    padding: 20px 0 20px 40px;
    position: relative;
    display: flex;
    justify-content: space-around;
    flex-direction: column;
    border-radius: 20rpx;
    .operate-group{
      display: flex;
      align-items: center;
      justify-content: space-between;
      text{
        background-color: #ff5f71;
        border-radius: 20rpx 0 0 20rpx;
        padding: 2rpx 10rpx;
        height: 40px;
        font-size: 25rpx;
      }
    }
  }
  .cp-module{
    .module-title{
      color: #212121;
      font-size: 40rpx;
      font-weight: bold;
      padding: 30rpx 0 14rpx;
    }
    .module-items{
      display: flex;
      align-items: space-between;
      justify-content: center;
      margin-bottom: 20rpx;
      &:last-child{
        margin-bottom: 0;
      }
      .module-item{
        flex: 1;
        background-color: #fff;
        border-radius: 40rpx;
        padding: 20px;
        box-shadow: 4rpx 4rpx 20rpx #dfdfdf;
        &:first-child{
          margin-right: 20rpx;
        }
        .item-title{
          color: #212121;
          font-size: 30rpx;
          font-weight: bold;
        }
        .item-text{
          color: #757575;
          font-size: 24rpx;
        }
        .item-content{
          display: flex;
          align-items: flex-end;
          justify-content: space-between;
          text{
            color: #757575;
            font-size: 24rpx;
          }
          image{
            width: 60px;
            height: 60px;
          }
        }
      }
    }
  }
  at-curtain{
    .at-curtain{
      height: 100%;
      width: 100%;
      position: absolute;
      background-color: rgba(0, 0, 0, 0.4);
      .at-curtain__btn-close--bottom{
        bottom: -250px;
      }
    }
    .dialog{
      position: absolute;
      left: calc((100% - 520rpx)/2);
      top: calc((100% - 500rpx)/2);
      background: #fff;
      padding: 20rpx;
      border-radius: 40rpx;
      height: 400rpx;
      width: 520rpx;
      .dialog-title{
        color: #212121;
        text-align: center;
        font-weight: bold;
      }
      .dialog-content{
        display: flex;
        justify-content: space-around;
        align-items: center;
        text-align: center;
        margin-top: 80rpx;
      }
    }
  }
}
